<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-map" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>offlinemap</name><js-module name="offlinemap" src="www/offlinemap.js"><clobbers target="offlinemap" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="offlinemap"><param name="android-package" value="cordova.plugin.map.offlinemap" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/offlinemap.java" target-dir="src/cordova/plugin/map/offlinemap" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="offlinemap"><param name="ios-package" value="offlinemap" /></feature></config-file><source-file src="src/ios/offlinemap.m" /></platform></plugin>